* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main {
    background-color: black;
    padding: 1rem;
}

h2 {
    margin-bottom: 0.8rem;
}
.padded {
    padding: 2em;
    margin-bottom: 0.3rem;
}
header {
    background-color: blue;
}

.hero {
    background-color: red;
}

.content {
    background-color: green;
}

aside {
    background-color: blueviolet;
}

footer {
    background-color: grey;
}
.tablet {
    display: none;
}
.desktop {
    display: none;
}

@media screen and (min-width: 600px) {
    .central-container {
        display: flex;
    }
    .content {
        width: 66%;
        margin-right: 0.3rem;
    }
    .sidemenu {
        width: 33%;
    }
    .tablet {
        display: inline;
    }
    .phone {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .central-container {
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: inline;
    }
}