/* ---------- Initial values ---------- */
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ---------- Container tags ---------- */
main {
    background-color: black;
    padding: 1rem;
}

h2,
p {
    margin-bottom: 0.8rem;
}

header {
    background-color: blue;
}

aside {
    background-color: blueviolet;
}

footer {
    background-color: grey;
}

/* ---------- Classes ---------- */
.padded {
    padding: 2em;
    margin-bottom: 0.3rem;
}

.hero {
    background-color: red;
}

.content {
    background-color: green;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

.side-info {
    position: fixed;
    top: 3rem;
    right: 0.5rem;
    background-color: #FFFFFF88;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 150%;
}

/* ---------- Tablet size ---------- */
@media screen and (min-width: 768px) {
    .central-container {
        display: flex;
    }

    .content {
        width: 66%;
        margin-right: 0.3rem;
    }

    .sidemenu {
        width: 33%;
    }

    .tablet {
        display: inline;
    }

    .phone {
        display: none;
    }
}

/* ---------- Desktop size ---------- */
@media screen and (min-width: 1024px) {
    .central-container {
        max-width: 1024px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .content {
        width: 75%;
    }

    .sidemenu {
        width: 25%;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: inline;
    }
}